/* Stylesheet for YouTube Comment Visualizer 
 *
 * Author: William Xie
 */

html {
	font-family: 'Open Sans', sans-serif;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
}

p {
	margin: 0;
	padding: 0;
}

/* ----------------------- */

.header {
	width: 100%;
	height: 56%;
	background: url(../img/purple.png);
	text-align: center;
}

.title {
	display: inline-block;
	padding-top: 8.5%;
	width: 60%;

	color: white;
	font-size: 36px;
	font-weight: 700;
}

.link-container {
	padding-top: 2.5%;
}

.user-input {
	float: left;
	margin: 0px 2%;
	width: 45%;
}

.i-left {
	text-align: right;
}

.i-right {
	text-align: left;
}

.infield {
	margin: 1.5% auto;
	width: 69%;
	height: 28px;

	border: 1pt solid rgb(89, 60, 104);
	box-shadow: inset 0px 0px 12px rgb(89, 60, 104);
	-moz-box-shadow: inset 0px 0px 12px rgb(89, 60, 104);
	-webkit-box-shadow: inset 0px 0px 12px rgb(89, 60, 104);

	background: transparent;
}

#submit, #clear {
	margin-top: 1.5%;
	padding: 10px;
	width: 160px;
	height: 40px;

	background: rgb(89, 60, 104);
	border: 0px;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
}

/* ----------------------- */


